@import '../scss/functions';

.Board {
    $box-shadow-color: lighten(#1b1b1b, 8%);
    $box-shadow: long-shadow($box-shadow-color, 575);
    $cell-size: 5rem;
    $board-size: $cell-size * 3;

    align-content: center;
    justify-content: center;
    background-color: white;
    border: 0;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    font-size: 4.5rem;
    font-weight: bold;
    height: $board-size;
    width: $board-size;

    &__row {
        display: flex;
        flex-direction: row;
        height: $cell-size;
    }
}
