.Game {
    text-align: center;

    &__button {
        background-color: transparent;
        border: none;
    }

    &__button > svg {
        color: darken(#fff, 5%);
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
    }

    &__message {
        font-size: 2rem;
    }
}
