@import './scss/functions';

.App {
    $text-color: #fefefe;
    $text-shadow-color: darken(red, 15%);
    $text-shadow: long-shadow($text-shadow-color, 475);

    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        color: $text-color;
        font-size: 5.5rem;
        text-shadow: $text-shadow;
    }
}
