@import '~bootstrap/scss/bootstrap-reboot';

body {
    align-items: center;
    background-color: lighten(red, 5%);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
